n8n_simple_test_workflow.json
{
  "name": "Simple Playwright Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-playwright",
        "responseMode": "responseNode"
      },
      "id": "webhook-test",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://www.google.com",
        "actions": [
          {
            "type": "goto"
          },
          {
            "type": "evaluate",
            "jsCode": "() => {\n  return {\n    title: document.title,\n    url: window.location.href,\n    timestamp: new Date().toISOString()\n  };\n}"
          }
        ],
        "options": {
          "headless": true
        }
      },
      "id": "playwright-test",
      "name": "Playwright Test",
      "type": "n8n-nodes-playwright.playwright",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'success',\n  data: $json,\n  message: 'Playwright test completed'\n}) }}"
      },
      "id": "respond-test",
      "name": "Respond Test",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Test": {
      "main": [
        [
          {
            "node": "Playwright Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Playwright Test": {
      "main": [
        [
          {
            "node": "Respond Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}