n8n_movie_search_workflow.json
{
  "name": "Movie Search Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "search-movies",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f7b1c0e1-8c5a-4d2b-9e3f-1a2b3c4d5e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "movie-search-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "query",
              "value": "={{ $node.Webhook.json.query || 'rrr' }}"
            },
            {
              "name": "max_results",
              "value": "={{ $node.Webhook.json.max_results || 20 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.5movierulz.irish/search_movies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "s",
              "value": "={{ $node['Extract Parameters'].json.query }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Fetch Movie Search Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple test to return mock data for now\nconst query = $node['Extract Parameters'].json.query.toLowerCase();\n\n// Create mock movie data for testing\nconst mockMovies = [\n  {\n    title: `${query.toUpperCase()} (2024) HDRip Telugu Movie - N8N`,\n    url: `https://www.5movierulz.irish/${query}-2024-telugu/movie-watch-online-free.html`,\n    source: 'n8n-5movierulz',\n    year: '2024',\n    poster: 'https://via.placeholder.com/300x400/764ba2/ffffff?text=N8N+Movie',\n    language: 'TEL',\n    quality: 'HDRip',\n    genre: 'Action',\n    rating: '8.5'\n  },\n  {\n    title: `${query.toUpperCase()} (2022) BRRip Malayalam Movie - N8N`,\n    url: `https://www.5movierulz.irish/${query}-2022-malayalam/movie-watch-online-free.html`,\n    source: 'n8n-5movierulz',\n    year: '2022',\n    poster: 'https://via.placeholder.com/300x400/667eea/ffffff?text=N8N+Movie',\n    language: 'MAL',\n    quality: 'BRRip',\n    genre: 'Drama',\n    rating: '9.0'\n  }\n];\n\n// Return mock results\nreturn mockMovies.map(movie => ({ json: movie }));"
      },
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Parse Movies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"query\": $node['Extract Parameters'].json.query,\n  \"results\": $input.all(),\n  \"total\": $input.all().length,\n  \"message\": \"Found \" + $input.all().length + \" movies via n8n\",\n  \"source\": \"n8n-workflow\"\n} }}",
        "options": {}
      },
      "id": "g7h8i9j0-1k2l-3m4n-5o6p-q7r8s9t0u1v2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Fetch Movie Search Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movie Search Page": {
      "main": [
        [
          {
            "node": "Parse Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Movies": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "movie-search-workflow",
  "tags": []
}