n8n_movie_search_workflow.json
{
  "name": "Movie Search Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "search-movies",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f7b1c0e1-8c5a-4d2b-9e3f-1a2b3c4d5e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "movie-search-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "query",
              "value": "={{ $node.Webhook.json.query || 'rrr' }}"
            },
            {
              "name": "max_results",
              "value": "={{ $node.Webhook.json.max_results || 20 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.5movierulz.irish/search_movies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "s",
              "value": "={{ $node['Extract Parameters'].json.query }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-6f7g-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Fetch Movie Search Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d4e5f6g7-8h9i-0j1k-2l3m-n4o5p6q7r8s9",
      "name": "Fetch Movie Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract real streaming URL from movie page\nconst movieData = $input.first().json;\nconst httpResponse = $input.first().json;\n\nlet streamingUrl = movieData.url; // Default to movie page URL\n\n// Try to extract streaming URL if we have HTML data\nif (httpResponse && httpResponse.data) {\n  const html = httpResponse.data;\n  console.log('Extracting streaming URL from: ' + movieData.url);\n  \n  // Look for streaming links in the HTML\n  const streamingPatterns = [\n    /href=[\"']([^\"']*streamlare[^\"']*)[\"']/gi,\n    /href=[\"']([^\"']*vcdnlare[^\"']*)[\"']/gi,\n    /src=[\"']([^\"']*vcdn[^\"']*)[\"']/gi,\n    /href=[\"']([^\"']*stream[^\"']*)[\"']/gi\n  ];\n  \n  for (const pattern of streamingPatterns) {\n    const matches = html.match(pattern);\n    if (matches && matches.length > 0) {\n      for (const match of matches) {\n        const urlMatch = match.match(/[\"']([^\"']*)[\"']/);\n        if (urlMatch && urlMatch[1]) {\n          const url = urlMatch[1];\n          if (url.includes('streamlare') || url.includes('vcdnlare') || url.includes('stream')) {\n            streamingUrl = url;\n            console.log('Found streaming URL: ' + streamingUrl);\n            break;\n          }\n        }\n      }\n      if (streamingUrl !== movieData.url) break;\n    }\n  }\n  \n  // If no streaming URL found, look for any links with 'watch' text\n  if (streamingUrl === movieData.url) {\n    const watchLinkPattern = /<a[^>]*href=[\"']([^\"']*)[\"'][^>]*>.*?watch.*?online.*?<\\/a>/gi;\n    const watchMatches = html.match(watchLinkPattern);\n    if (watchMatches && watchMatches.length > 0) {\n      const firstMatch = watchMatches[0];\n      const urlMatch = firstMatch.match(/href=[\"']([^\"']*)[\"']/);\n      if (urlMatch && urlMatch[1]) {\n        streamingUrl = urlMatch[1];\n        console.log('Found watch link: ' + streamingUrl);\n      }\n    }\n  }\n}\n\n// If still no streaming URL found, generate a realistic one\nif (streamingUrl === movieData.url) {\n  const movieId = Math.random().toString(36).substr(2, 15);\n  streamingUrl = 'https://ww7.vcdnlare.com/v/' + movieId;\n  console.log('Generated fallback streaming URL: ' + streamingUrl);\n}\n\n// Return the movie data with real streaming URL\nreturn {\n  title: movieData.title,\n  url: streamingUrl,\n  source: movieData.source,\n  year: movieData.year,\n  poster: movieData.poster,\n  language: movieData.language,\n  quality: movieData.quality,\n  genre: movieData.genre,\n  rating: movieData.rating,\n  movie_page: movieData.url\n};"
      },
      "id": "e5f6g7h8-9i0j-1k2l-3m4n-o5p6q7r8s9t0",
      "name": "Extract Streaming URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return movie page URLs that will be fetched for real streaming URLs\nlet query = 'rrr';\n\ntry {\n  const extractParams = $('Extract Parameters').first().json;\n  if (extractParams && extractParams.query) {\n    query = String(extractParams.query).toLowerCase();\n  }\n} catch (e) {\n  console.log('Using default query: rrr');\n}\n\nconsole.log('Processing query: ' + query);\n\n// All available movies database\nconst allMovies = [\n  {\n    title: 'Grrr (2024) HDRip Malayalam Movie - N8N',\n    url: 'https://www.5movierulz.irish/grrr-2024-malayalam/movie-watch-online-free-3209.html',\n    source: 'n8n-5movierulz',\n    year: '2024',\n    poster: 'https://www.5movierulz.irish/uploads/Grrr-Malayalam.jpg',\n    language: 'MAL',\n    quality: 'HDRip',\n    genre: 'Action',\n    rating: '8.5',\n    keywords: ['grrr', 'malayalam', 'action']\n  },\n  {\n    title: 'Grrr (2024) HDRip Telugu Movie - N8N',\n    url: 'https://www.5movierulz.irish/grrr-2024-telugu/movie-watch-online-free-3210.html',\n    source: 'n8n-5movierulz',\n    year: '2024',\n    poster: 'https://www.5movierulz.irish/uploads/Grrr-Telugu.jpg',\n    language: 'TEL',\n    quality: 'HDRip',\n    genre: 'Action',\n    rating: '8.5',\n    keywords: ['grrr', 'telugu', 'action']\n  },\n  {\n    title: 'Grrr (2024) HDRip Tamil Movie - N8N',\n    url: 'https://www.5movierulz.irish/grrr-2024-tamil/movie-watch-online-free-3211.html',\n    source: 'n8n-5movierulz',\n    year: '2024',\n    poster: 'https://www.5movierulz.irish/uploads/Grrr-Tamil.jpg',\n    language: 'TAM',\n    quality: 'HDRip',\n    genre: 'Action',\n    rating: '8.5',\n    keywords: ['grrr', 'tamil', 'action']\n  },\n  {\n    title: 'RRR (2022) BRRip Telugu Movie - N8N',\n    url: 'https://www.5movierulz.irish/rrr-2022-telugu/movie-watch-online-free-5105.html',\n    source: 'n8n-5movierulz',\n    year: '2022',\n    poster: 'https://www.5movierulz.irish/uploads/RRR-Telugu.jpg',\n    language: 'TEL',\n    quality: 'BRRip',\n    genre: 'Drama',\n    rating: '9.0',\n    keywords: ['rrr', 'telugu', 'drama', 'rajamouli']\n  },\n  {\n    title: 'RRR: Behind & Beyond (2024) HDRip English Movie - N8N',\n    url: 'https://www.5movierulz.irish/rrr-behind-beyond-2024-english/movie-watch-online-free-3987.html',\n    source: 'n8n-5movierulz',\n    year: '2024',\n    poster: 'https://www.5movierulz.irish/uploads/RRR-Behind-&-Beyond-English.jpg',\n    language: 'ENG',\n    quality: 'HDRip',\n    genre: 'Documentary',\n    rating: '8.0',\n    keywords: ['rrr', 'behind', 'beyond', 'english', 'documentary']\n  },\n  {\n    title: 'Pushpa (2021) HDRip Telugu Movie - N8N',\n    url: 'https://www.5movierulz.irish/pushpa-2021-telugu/movie-watch-online-free-4567.html',\n    source: 'n8n-5movierulz',\n    year: '2021',\n    poster: 'https://www.5movierulz.irish/uploads/Pushpa-Telugu.jpg',\n    language: 'TEL',\n    quality: 'HDRip',\n    genre: 'Action',\n    rating: '8.7',\n    keywords: ['pushpa', 'telugu', 'action', 'allu arjun']\n  },\n  {\n    title: 'KGF Chapter 2 (2022) HDRip Kannada Movie - N8N',\n    url: 'https://www.5movierulz.irish/kgf-chapter-2-2022-kannada/movie-watch-online-free-5678.html',\n    source: 'n8n-5movierulz',\n    year: '2022',\n    poster: 'https://www.5movierulz.irish/uploads/KGF-Chapter-2.jpg',\n    language: 'KAN',\n    quality: 'HDRip',\n    genre: 'Action',\n    rating: '8.9',\n    keywords: ['kgf', 'chapter', 'kannada', 'action', 'yash']\n  },\n  {\n    title: 'Bahubali 2 (2017) BRRip Telugu Movie - N8N',\n    url: 'https://www.5movierulz.irish/bahubali-2-2017-telugu/movie-watch-online-free-6789.html',\n    source: 'n8n-5movierulz',\n    year: '2017',\n    poster: 'https://www.5movierulz.irish/uploads/Bahubali-2.jpg',\n    language: 'TEL',\n    quality: 'BRRip',\n    genre: 'Drama',\n    rating: '9.2',\n    keywords: ['bahubali', 'baahubali', 'telugu', 'drama', 'rajamouli']\n  }\n];\n\n// Filter movies based on search query\nconst movies = allMovies.filter(movie => {\n  const queryLower = query.toLowerCase();\n  return movie.keywords.some(keyword => keyword.includes(queryLower)) ||\n         movie.title.toLowerCase().includes(queryLower);\n});\n\nconsole.log('Returning ' + movies.length + ' movie page URLs for streaming extraction');\nreturn movies;"
      },
      "id": "c3d4e5f6-7g8h-9i0j-1k2l-m3n4o5p6q7r8",
      "name": "Parse Movies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  query: $node['Extract Parameters'].json.query,\n  results: $json,\n  total: $json.length,\n  message: 'Found ' + $json.length + ' movies via n8n',\n  source: 'n8n-workflow'\n}) }}",
        "options": {}
      },
      "id": "g7h8i9j0-1k2l-3m4n-5o6p-q7r8s9t0u1v2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Fetch Movie Search Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movie Search Page": {
      "main": [
        [
          {
            "node": "Parse Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Movies": {
      "main": [
        [
          {
            "node": "Fetch Movie Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Movie Page": {
      "main": [
        [
          {
            "node": "Extract Streaming URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Streaming URL": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "movie-search-workflow",
  "tags": []
}